<!-- Footer -->
<footer class="page-footer font-small bg-primary text-white " style="padding:30px; position: fixed;
    bottom: 0;
    width: 100%;">

  <!-- Footer Links -->


  <!-- Copyright -->
  <div class="footer-copyright text-center ">© 2020 Copyright:
    <a href="#" class="text-white"> Hackathon.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->