<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center"  style="padding:20px;">
  
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="list-style:none;">

      <li style="margin-left:100px;">
      <h1 class="text-whitecs" >Hackathon</h1>
      </li>
    <li style="margin-left:1000px;"><h3>
    <% if user_signed_in?%>

      <%= link_to "Home", challenges_path, class:'nav-link text-white', style:"color:white;"%>

<%end%> </h3>
</li>   

      <% if user_signed_in?%>



          <li class="nav-item " id="applicants-nav-index" style="margin-left:100px;">
              <h3>  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:'nav-link nav-text', style:"color:white;" %></h3>
              </li>

      <%else%>

          <li class="nav-item " id="applicants-nav-index" style="margin-left:100px">
            <h3>    <%= link_to "Sign Up",new_user_registration_path, class:'nav-link nav-text', style:"color:white;" %></h3>
              </li>
          <li class="nav-item " id="applicants-nav-index"style="margin-left:100px;">
              <h3>  <%= link_to "Sign In", new_user_session_path, class:'nav-link nav-text' , style:"color:white;"%></h3>
              </li>


      <%end%>



    </ul>
    
  </div>
</nav>
